# 应用配置
NODE_ENV=development

# 跨域配置
ALLOW_ORIGIN=http://localhost:3000

# JWT 配置
JWT_SECRET=your-jwt-secret-key

# Session 配置
SESSION_SECRET=your-session-secret-key

# 文件上传配置
FILE_DIR_NAME=~/Desktop

# MySQL 配置
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USERNAME=root
MYSQL_PASSWORD=your-mysql-password
MYSQL_DATABASE=mbss

# Redis 配置
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=your-redis-password
